<div class="video" style="padding-top: {{ (height / width)*100 }}%;">
	<video class="lazyload" width="{{ width }}" height="{{ height }}" data-src="{{ src }}" muted autoplay loop playsinline preload="none">
		<source type="video/mp4" src="{{ src }}" />
	</video>
</div>