<section class="layout-button cta mb {% if layout.background != 'none' %}{{ layout.background }} has-bg{% endif %}">
		<h4 class="f-32 f-bold dark-blue center {{ layout.colour }}">
		{{ layout.title }}
	</h4>	
	<br />
	<a href="{{ layout.link.url }}" {% if layout.button.target %}target="{{ layout.button.target }}"{% endif %} class="button f-20 f-bold bg-red">
		{{ layout.link.title }}
		<svg class="icon icon-right"><use xlink:href="#icon-right"></use></svg>
	</a>
	
</section>